.fm {
  background-color: #e93173;
  margin: 4px;
  padding: 0 4px 0 4px;
}
.master {
  background-color: #e93173;
  color: #f1d244;
}

/* Navbar */
.collapse {
  justify-content: end;
}


.live img {
  height: 13px;
  margin-bottom: 0.8rem;
}
.live p {
  color: red;
  border-bottom: 2px solid red;
}
/* Carousel */

.carousel-item img {
  height: 550px;
  padding: 0 20px;
  object-fit: cover;
}
/* Player */
.player-title{
  color: #e93173;
}
/* Responsive */

@media screen and (max-width: 900px) {
  .live p {
    margin: 0 !important
  }
  .live img{
    margin: 0 !important;
  }
  .carousel-item img {
    height: 450px;
    padding: 0;
  }
}
