.fm {
  background-color: #e93173;
  margin: 4px;
  padding: 0 4px 0 4px;
}
.master {
  background-color: #e93173;
  color: #f1d244;
  padding: 0.2rem;
  margin: 0.2rem;
}

/* Navbar */
.collapse {
  justify-content: end;
}

.live img {
  height: 13px;
  margin-bottom: 0.8rem;
}
.live p {
  color: red;
  border-bottom: 2px solid red;
}
/* Carousel */

.carousel-item img {
  height: 550px;
  padding: 0 20px;
  object-fit: cover;
}
/* Player */
.player {
  background-color: #edede9;
  min-width: 391px;
  border-radius: 20px;
}
.player-title {
  color: #e93173;
}

.about {
  background-color: #edede9;
}

/* Responsive */

@media screen and (max-width: 900px) {
  .live p {
    margin: 0 !important;
  }
  .live img {
    margin: 0 !important;
  }
  .carousel-item img {
    height: 450px;
    padding: 0;
  }
  .about {
    flex-wrap: wrap;
  }
}
